/* Add a background color to the header element */
header{background-color: blue ;}
/* Add a fun background color to the main element */
main{ background-color: purple;}
/* Align the h1 containing your name in the center of the header*/
h1{text-align:center;}
/* Make your p tag a different color and italic */
p {background-color: aqua;} 
/* Put a border around your image */
img {border: 5px solid #555}
/* Change the font-family of your list */

/* Add a background color to the footer element */
footer{background-color:yellow ;}